# CGSS数据处理

In [21]:
import pandas as pd

rdata = pd.read_stata("./data/dataset.dta")

In [22]:
rdata.describe()

,birthyear,height,weight,educ,income,famincome,spouse_educ
count,7024.000000,7024.000000,7024.000000,7024.000000,7024.000000,7024.000000,7024.000000
mean,1964.199601,164.219818,123.706293,8.830154,26979.914062,59942.429688,8.728645
std,14.351550,7.770382,22.912618,4.527706,29879.591797,59197.296875,4.595294
min,1921.000000,115.000000,40.000000,0.000000,0.000000,780.000000,0.000000
25%,1953.000000,159.000000,110.000000,6.000000,5000.000000,20000.000000,6.000000
50%,1965.000000,165.000000,120.000000,9.000000,20000.000000,45000.000000,9.000000
75%,1975.000000,170.000000,140.000000,12.000000,38000.000000,80000.000000,12.000000
max,1997.000000,190.000000,260.000000,19.000000,144000.000000,300000.000000,19.000000

In [12]:
rdata['a7a'].describe()

count     10968
unique       15
top          初中
freq       3084
Name: a7a, dtype: object